@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary: #FF9F0D;
    --secondary: #FFF9F0;
    --tetiary: #979797;
    --new: #FAF3EA;
    --pitch: #FE9F0E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.main-hero-header{
    position: relative;
}

.main-hero-decore{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.dishes{
    position: relative;
    -webkit-animation: spin 7s linear infinite;
    -moz-animation: spin 7s linear infinite;
    animation: spin 7s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.spicy{
    position: absolute;
    top: 60%;
    right: 50%;
}

.main-hero-wrap{
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: auto;
    justify-content: space-between;
}

.main-hero-text{
    width: 60%;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 1rem;
}

.order-button{
    background-color: var(--primary);
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
}

