@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary: #FF9F0D;
    --secondary: #FFF9F0;
    --tetiary: #979797;
    --new: #FAF3EA;
    --pitch: #FE9F0E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.top-links{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: color .3s ease;
    }
    
    .top-links:hover{
        color: var(--primary);
    }


.contact-us:hover{
    color: black;
}

.main-hero-header{
    position: relative;
    margin-bottom: 5rem;
}

.main-hero-decore{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.dishes{
    position: relative;
    -webkit-animation: spin 7s linear infinite;
    -moz-animation: spin 7s linear infinite;
    animation: spin 7s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.spicy{
    position: absolute;
    top: 60%;
    right: 50%;
}

.main-hero-wrap{
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: auto;
    justify-content: space-between;
}

.main-hero-text{
    width: 60%;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 1rem;
}

.order-button{
    background-color: var(--primary);
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    transition: background 3s ease;
}


/* clip path setion */


.clip-container {
    width: 90%;
    max-width: 1250px;
    margin:auto;
    padding-bottom: 2rem;
    margin: 10rem;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
}

.header h2 {
    font-size: 26px;

}

.header a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px; 
}

.clippy {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 3rem;
}

.clip-dish {
    background-color: white; 
    border-radius: 20px 150px 20px 20px;
    padding-top: 10rem;
    border: 3px solid var(--new);
    box-shadow: 5px 6px 2px  rgba(0, 0, 1, 0.1);
    width: 25%;
    min-width: 250px; 
    margin-bottom: 20px;
    text-align: start;
    position: relative;
    z-index: -1;
    /* clip-path: polygon(0 0, 100% 28%, 100% 100%, 0% 100%); */
}

.clip-images{
    width: 80%;
    height: 80%;
    position: absolute;
    top: -80px;
    left: 30px;
    z-index: -3;

}



.dish-details {
    padding: 20px;
}

.food-type {
    margin: 10px 0;
    font-size: 25px;
}

.price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.rating {
    color: #ff9800;
}

.cost{
    font-size: 18px;
    font-weight: 700;
}

.order-now {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500; 
}

.shade{
    width: 100%;
    height: 20rem;
    background-color: var(--secondary);
    margin-bottom: 1rem;
    position: absolute;
    top: 300px;
    left: 0px;
    z-index: -5;
    border-radius: 25px;
}


/* about us section */

.about-container {
    width: 100%;
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 3rem 4rem;
    margin-bottom: 4rem;
    position: relative;
}


.about-us-image{
    width: 40%;
    position: absolute;
    top: -210px;

}

.enclosed{
    display: flex;
    justify-content: space-between;
}

.content-section {
    padding: 20px;
    max-width: 50%;
}

.about-us-text{
    margin-bottom: 20px;
    font-size: 35px;

}

.about-header{
    font-size: 23px;
    width: 50%;
}

.about-para {
    line-height: 1.6;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 60%;
    color: var(--tetiary);
}

.last-order {
    background-color: #ff9800; /* Orange */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.accent-image {
    position: absolute;
    top: -100px;
    right: 0px;
    max-width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section {
        padding: 10px;
    }

    .content-section {
        padding: 10px;
        text-align: center;
    }

    .accent-image {
        display: none; /* Hide on smaller screens */
    }
}

.customers-container{
    background-color: var(--primary);
    margin-top: 8rem;
    text-align: center;
}

.customers-wrapper{
    padding: 3rem 0 6rem 0;
}

.customers-top{
    margin-bottom: 4rem;
}

.customers-header{
    text-transform: capitalize;
    font-size: 35px;
    padding-bottom: 1rem;
}

.customers-para{
    font-size: 18px;
    font-weight: 400;
}

.slider-wrapper{
    position: relative;
    
}


.slider{
    display: flex;
    gap: 2rem;
    max-width: 50%;
    margin: auto;
    overflow: hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow:  0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.customers-slide{
    flex: 1 0 100%;
    background-color: white;
    border-radius: 20px;
    padding: 4rem;
}

.customer-name{
    font-size: 35px;
    text-transform: uppercase;
    padding: 10px 0;

}

.last-star{
    font-size: 20px;
}

.customer-rating{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-bottom: 7px;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.slider-nav a{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 75%;
    transition: opacity ease 250ms;

}

.slider-nav a:hover{
    opacity: 1;
}


.home-experience{
    margin-top: 0;
}