@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary: #FF9F0D;
    --secondary: #FFF9F0;
    --tetiary: #979797;
    --new: #FAF3EA;
    --pitch: #FE9F0E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


.menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4rem;
    z-index: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    gap : 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 74px;
}

.top-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color .3s ease;
}

.top-links:hover{
    color: var(--primary);
}

.nav-links .active {
    color: var(--primary);
}

.icons i{
    margin-left: 20px;
    cursor: pointer;
}

.mobile-nav{
    display: none;
}

@media (max-width: 800px){
    
    .menu-nav{
        display: none;
    }

    .mobile-nav{
        display: block;
    }

    .mobile-nav{
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 70px;
    }
    
    .logo{
        color: black;
    }
    
    .mobile-listing{
        list-style-type: none;
        padding: 20px;
    }

    
    .menu-icon i{
        color: black;
        font-size: 25px;
        margin-right: 10px;
    }

    .mobile-ul{
        display: flex;
        gap: 30px;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: white;
        gap: 0;
        z-index: 99;
        overflow: hidden;
       }
    
        .mobile-listing a{
           text-decoration: none;
           text-transform: capitalize;
           color: rgb(28, 28, 28);
        }
    
       .menu-icon{
        display: block;
       }
    
       #menuList{
        transition: all 0.5s;
       }

}


/* hero */


.container {
    max-width: 85%;
    margin: 15px auto;
    padding: 20px;
}

.hero {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

.selector{
    text-decoration: none;
    color: var(--tetiary);
    margin-right: 10px;
}

.first{
    color: var(--primary);
}

.first{
    color: var(--primary);
}


.product {
    display: flex;
    gap: 2.5rem;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    flex: 2;
}

.product-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.rating {
    color: var(--primary); /* Yellow for stars */
    margin-bottom: 10px;
    font-size: 25px;
}

.rating-box{
    display: flex;
    gap: 8px;
    align-items: center;
}

.top-star{
    color: var(--primary);
}

.rating-num{
    font-size: 25px;
    font-weight: 600;
}

.description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    max-width: 80%;
}

.price {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.quantity-box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    max-width: 70%;
    padding-bottom: 1.5rem;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-right {
    padding-bottom: 10px;
}

.icon-two{
    font-size: 24px;
    cursor: pointer;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.icon-two:hover{
    background-color: var(--primary);
    color: white;
}

.icon-two.liked {
    background-color: var(--primary);
    color: white;
    border-radius: 50%; /* Make it circular */
    padding: 10px; /* Add some padding */
}

.quantity {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 2px solid var(--primary);
    border-radius: 30px;
    overflow: hidden; /* Hide overflowing content */
}

.quantity button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 25px; /* Adjust font size */
    font-weight: 600;
}

.quantity input {
    width: 40px;
    padding: 5px;
    background-color: var(--primary);
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    font-size: 18px; /* Adjust font size */
}

.actions {
    display: flex;
    gap: 15px;
}

.btn{
    padding: 10px 6rem;
    border: 2px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover{
    background-color: var(--primary);
    color: white;
}


@media (max-width: 800px){
    .container{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .product{
        flex-direction: column;
    }

    .description{
        max-width: 100%;

    }

    .quantity-box{
        max-width: 90%;
        gap: 20px;
    }

    .btn{
        padding: 10px 35px;
    }
}

/* review section */

.review-wrap{
    padding-top: 4rem;
}

.review-text{
    padding-left: 10rem;
}

.review-header{
    padding-bottom: 4rem;
}

.top-divider{
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin-bottom: 1rem;
}

.reviews-container {
    display: flex;
    align-items: center;
    padding: 35px 0;
    max-width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}
.rating-section {
    text-align: center;
    width: 30%;
}
.ratings {
    font-size: 2.5rem;
    margin: 0;
}

.ratings span{
    color: var(--tetiary);
    font-size: 16px;
    font-weight: 400;
}

.divider {
    width: 1px;
    background-color: #ccc;
    height: 150px;
    margin: 0 20px;
}

.stars {
    color: var(--primary);
    font-size: 1.5rem;
}
.reviews-count {
    font-size: 0.9rem;
    color: var(--tetiary);
}
.progress-section {
    width: 50%;
    padding-left: 20px;
}
.progress-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.progress-bar span {
    width: 50px;
}
.bar {
    background-color: #eee;
    height: 8px;
    flex: 1;
    border-radius: 5px;
    position: relative;
}
.bar-fill {
    background-color: var(--primary);
    height: 100%;
    border-radius: 5px;
}


@media (max-width: 800px){
    .review-text{
        text-align: center;
        padding-left: 0;
    }
}

/* review list section */

.review-list {
    padding: 2rem 10rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.show-list{
    padding-top: 1.5rem;
}

.filter-sort {
    display: flex;
    align-items: center;
}

.sort{
    color: var(--tetiary);
    font-size: 16px;
    font-weight: 600;
}

.selection{
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
}

.review {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 15px; /* Add some spacing between reviews */
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Make avatar round */
    margin-right: 10px;
}

.review-content {
    flex: 1; /* Allow content to take up available space */
}

.user-name{
    font-size: 18px;
    font-weight: 600;
}

.review-meta {
    display: flex;
    justify-content: space-between; /* Align date and stars */
    align-items: center; /* Vertically center them */
    margin-top: 10px;
}

.review-date {
    color: #777; /* Slightly lighter text color */
    font-size: 16px;
    font-weight: 300;
}

.review-stars {
    color: orange; /* Or any color you prefer for stars */
    font-size: 20px;
}

@media (max-width: 800px){
    .review-list{
        padding: 2rem 20px;
    }

    .header{
        align-items: flex-end;
    }

    .user-info{
        margin-right: 10px;
    }
    
}

/* Related Produc Section */

.related-products {
    padding: 20px;
}

.related-header{
    text-align: center;
    font-size: 30px;
    
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 95%;
    margin: auto;
    justify-content: center;
    padding: 2rem 0;
}
.product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 350px;
    text-align: left;
}
.product-image-two {
    position: relative;
    background: #fde4c3;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.product-image-two img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary);
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.product-info {
    padding: 10px 0;
}

.product-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 500;
    font-size: 18px;
}
.rating {
    font-size: 18px;
    color: black;
}

.star-rating{
    color: var(--primary);
}


.name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    padding-bottom: 1rem;
}
.add-to-cart {
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    width: 40%;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}
.add-to-cart:hover {
   background-color: rgba(223, 140, 24, 0.974);

}



/* experience section */

.experience{
    background-color: var(--new);
    margin: 2rem 0 5rem 0;
}

.experience-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 4.5rem 0;
}

.experience-items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experience-header{
    font-size: 18px;
}

.experience-para{
    color: var(--tetiary);
}

@media (max-width: 800px){

   .experience-wrapper{
    max-width: 90%;
   }

   .experience-items{
      padding-left: 4rem;
      padding-bottom: 1rem;
   }
}

/* subscribe section */


.sub-container{
    background-color: #FFECCF;
    max-width: 70%;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 8rem 18px 18px 18px;
    padding: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    /* overflow: hidden; */
}

.telegram-icon {
    position: absolute;
    top: -5px;
    right: -10px;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    z-index: 2; /* Ensure icon is above the content */
}

.telegram-image{
    width: 60px;
    height: 60px;
}

.form-content {
    text-align: center;
}

.form-text{
    color: #5E6282;
    max-width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center; 
}

.input-group i {
    position: absolute;
    left: 10px;
    color: #777;
}

.input-group input {
    width: calc(100% - 30px); /* Adjust width to make space for icon */
    padding: 15px 5rem; /* Add padding to the left for the icon */
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.end-button {
    background-color: var(--primary); 
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.end-button:hover {
    background-color: #FFB300; 
}

.sub-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring{
    position: absolute;
    top: 1px;
    right: -1px;
}

@media (max-width: 800px){
    .sub-container{
        max-width: 85%;
        margin-bottom: 1.5rem;
    }

    .form-text{
        max-width: 100%;
    }

    .sub-wrap{
        gap: 5px;
    }
}

/* footer */

.footer{
    display: none;
}

.footer-wrap{
    margin-top: 12rem;
    margin-bottom: 8rem;
    position: relative;
}

.main-footer {
    /* padding: 20px 0 3rem 0; */
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: flex-start; 
    max-width: 90%;
    margin: auto;
}

.bottom-logo{
    padding-bottom: 1.5rem;
}

.contacts{
    color: var(--tetiary);
    padding-bottom: 5px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 7px;
}

.footer-column a {
    text-decoration: none;
    color: var(--tetiary);
}

.footer-column a:hover{
    text-decoration: underline;
}

.footer-bottom {
    text-align: start;
    padding: 0px 6rem
}

.footer-logo {
    display: flex;
    align-items: center; /* Vertically center logo and text */
    margin-bottom: 10px;
}

.footer-logo img {
    max-height: 50px; /* Adjust as needed */
    margin-right: 10px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    height: 20px; /* Adjust as needed */
}

.footer-divide{
    background-color: #000000;
}

.footer-decore{
    position: absolute;
    top: -30px;
    z-index: -1;
}

.mobile-footer-image{
    display: none;
}

@media (max-width: 800px){

    .footer-wrap, .last-part{
        display: none;
    }

    .footer{
        display: block;
    }

    .footer {
 /* Light gray background */
        padding: 20px 0;
      }
      
      .footer-container {
        position: relative;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
      }
      
      .footer-accordion .accordion-item {
        border-bottom: 1px solid #ddd;
      }
      
      .footer-accordion .accordion-header {
        width: 100%;
        text-align: left;
        padding: 15px;
        background-color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-accordion .accordion-header::after {
        content: '+';
        font-size: 20px;
      }
      
      .footer-accordion .accordion-header.active::after {
        content: '-';
      }
      
      .footer-accordion .accordion-content {
        padding: 0 15px;
        background-color: white;
        display: none;
        overflow: hidden;
      }
      
      .footer-accordion .accordion-content p {
        padding: 10px 0;
        margin: 0;
      }
      
      .footer-social {
        text-align: start;
        margin-top: 20px;
      }
      
      .footer-social img {
        width: 20px;
        margin: 0 10px;
      }
      
      .footer-copyright {
        text-align: start;
        margin-top: 20px;
      }

      .mobile-footer-image{
        display: block;
        position: absolute;
        top: 350px;
        left: -30px;
        z-index: -5;
      }

      a{
        text-decoration: none;
      }

      .accordion-content a{
        color: black;
      }
}

